@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
//Customizations
@import "./variables.scss";

//Baseline Bulma
@import "~bulma/bulma";
//Import Buefy
@import "~buefy/src/scss/buefy";

.is-spaced {
    padding: 1rem 2rem;
  }

  .icon {
    vertical-align: middle;
    &.is-large {height:3rem;width:3rem}
    &.is-xlarge {height:5rem;width:5rem}
    &.is-xxlarge {height:6rem;width:6rem}
    svg { width: inherit; height: inherit; }
  }

  .is-family-roboto {
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 900;
    font-family: $roboto
  }

  a, a:hover {
    color: $primary
  }
  
  a.navbar-item:focus, a.navbar-item:focus-within, 
  a.navbar-item:hover, a.navbar-item.is-active, 
  .navbar-link:focus, .navbar-link:focus-within, 
  .navbar-link:hover, .navbar-link.is-active 
  {  color: $primary}
  
  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: $primary
  }
  
  .input:focus, .taginput .taginput-container.is-focusable:focus, 
  .textarea:focus, .select select:focus, .is-focused.input, 
  .taginput .is-focused.taginput-container.is-focusable, 
  .is-focused.textarea, .select select.is-focused, .input:active, 
  .taginput .taginput-container.is-focusable:active, .textarea:active, 
  .select select:active, .is-active.input, .taginput .is-active.taginput-container.is-focusable, 
  .is-active.textarea, .select select.is-active {
    border-color: $primary
  }