@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
//Customizations
@import "./variables.scss";

//Baseline Bulma
@import "~bulma/bulma";
//Import Buefy
@import "~buefy/src/scss/buefy";

.is-spaced {
    padding: 1rem 2rem;
  }

  .icon {
    vertical-align: middle;
    &.is-large {height:3rem;width:3rem}
    &.is-xlarge {height:5rem;width:5rem}
    &.is-xxlarge {height:6rem;width:6rem}
    svg { width: inherit; height: inherit; }
  }

  .is-family-roboto {
    font-family: $roboto
  }