$family-sans-serif: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$grey: #8c9b9d;
$grey-light: #a9afb7;
$grey-lighter: #dee2e5;
$orange: #e67e22;
$yellow: #f1b70e;
$green: #2ecc71;
$turquoise: #1abc9c;
$cyan: #3399dc;
$blue: #3498db;
$purple: #8e44ad;
$red: #e74c3c;
$white-ter: #ecf0f1;
$primary: #34495e !default;
$yellow-invert: #fff;

//variable overrides
$gap: 32px;
$section-padding: 2rem 1.5rem;
$radius-small: 3px;
$radius: 0.4em;
$radius-large: 8px;
$footer-background-color: transprent;
$footer-padding: 3rem;
$subtitle-color: darken($grey, 20);
$text: $primary;
$text-light: lighten($primary, 10);
$text-strong: darken($primary, 5);
$button-color: $primary;
$button-hover-color: darken($primary, 5); // primary-dark
$button-focus: darken($primary, 5); // primary-dark
$button-active-color: darken($primary, 5); // primary-dark
$navbar-burger-color: $white-ter;
$tooltip-background-opacity: 1!important;
$tooltip-max-width: 45rem;
$notification-padding: 1.25rem;
$timeline-content-padding: 1em 0 0 3em;
$modal-z: 4000;

//Customized Elements
$box-color: $primary;
$box-background-color: $white-ter;
$card-color: $primary;
$card-footer-border-top: 2px solid $grey-lighter;
$card-background-color: lighten($grey-lighter, 5);
$card-footer-item: $primary;
$control-radius: $radius;
$input-radius: $radius;
$input-border-color: darken($grey-lighter, 3);
$breadcrumb-item-color: darken($blue, 15);
$breadcrumb-item-active-color: $button-active-color;
$tabs-link-active-border-bottom-color: darken($blue, 10);
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-border-color:$primary;
$tabs-link-active-color: darken($primary, 10);
$tabs-toggle-link-radius: 0px;
$navbar-dropdown-arrow: $primary;

$control-height: 2.25em;
$control-border-width: 1px;
$button-border-width: 1px;
$control-padding-vertical: calc(0.375em - #{$control-border-width});
$control-padding-horizontal: calc(0.625em - #{$control-border-width});
$button-padding-vertical: calc(0.375em - #{$button-border-width});
$button-padding-horizontal: 0.75em;

$card-shadow:	0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);

//Customized colors for Apps
$now: #6383a7;
$now-invert: findColorInvert($now);
$now-dark: darken($blue, 10);
$now-dark-invert: findColorInvert($now-dark);
$link: $blue;
$link-invert: findColorInvert($link);
$link-dark: darken($link, 10);
$link-dark-invert: findColorInvert($link-dark);
$link-hover: darken($link, 10);
$link-focus: darken($link, 10);
$link-active: darken($link, 10);
$info: $cyan;
$info-invert: findColorInvert($info);
$info-dark: darken($info, 10);
$info-dark-invert: findColorInvert($info-dark);


@import "~bulma/sass/utilities/derived-variables";
